<!-- <h1>{{title}}</h1> -->
<div [hidden]="fileLoaded">
  <div class="dropzone" appDrop (onFileDropped)="OnFileChange($event)">
    <div class="text-wrapper">
      <div class="centered">Drop your file here!</div>
    </div>
  </div>
</div>

<div [hidden]="!fileLoaded">

  <mat-card class="mat-elevation-z2" style="margin-bottom: 20px;">
    <mat-grid-list cols="5" rowHeight="100">

      <mat-grid-tile colspan="2" style="background-color: lightgreen">
        <div align="center">
          Mejor Calificación: {{mejorCalificacion.nombre}} {{mejorCalificacion.aPaterno}} {{mejorCalificacion.aMaterno}}
          <br>
          {{mejorCalificacion.clave}}
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" style="background-color:rgb(240, 191, 191)">
        <div align="center">
          Peor Calificación: {{peorCalificacion.nombre}} {{peorCalificacion.aPaterno}} {{peorCalificacion.aMaterno}}
          <br>
          {{peorCalificacion.clave}}
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        Desplazamiento de Clave
        <br>
        <mat-slider min="0" max="5" step="1" (ngModel)="desplazamiento" value="0" (input)="OnSliderChange($event)"
          invert>
        </mat-slider>
        {{desplazamiento}}
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card>




  <mat-card class="mat-elevation-z2">
    <mat-table [dataSource]="dataSource" matSort [hidden]="!fileLoaded">

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.nombre}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="aPaterno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.aPaterno}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="aMaterno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.aMaterno}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fechaNacimiento">
        <mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.fechaNacimiento}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="grado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Grado </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.grado}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="grupo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.grupo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="calificacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Calificacion </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.calificacion}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="clave">
        <mat-header-cell *matHeaderCellDef> Clave Única </mat-header-cell>
        <mat-cell *matCellDef="let Alumnos">{{Alumnos.clave}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let Alumnos; columns: columnsToDisplay"></mat-row>

    </mat-table>

    <mat-card>
      Promedio: {{promedio}}
    </mat-card>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">

    </mat-paginator>
  </mat-card>
</div>
